.imgNewsContainer{
    float: left;
    margin-right: 7px;
    margin-bottom: 10px;
}
.imgNewsContainer h3{
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imgNewsContainer p{

}